$ouif-themeDarker: #292929;
$ouif-themeDark: #383838;
$ouif-themeDarkAlt: #434343;
$ouif-themePrimary: #4b4b4b;
$ouif-themeSecondary: #606060;
$ouif-themeTertiary: #929292;
$ouif-themeLight: #c9c9c9;
$ouif-themeLighter: #e2e2e2;
$ouif-themeLighterAlt: #f8f8f8;
$ouif-black: #000000;
$ouif-blackTranslucent40: rgba(0, 0, 0, 0.40);
$ouif-neutralDark: #212121;
$ouif-neutralPrimary: #333333;
$ouif-neutralPrimaryAlt: #3c3c3c;
$ouif-neutralSecondary: #666666;
$ouif-neutralSecondaryAlt: #767676;
$ouif-neutralTertiary: #a6a6a6;
$ouif-neutralTertiaryAlt: #c8c8c8;
$ouif-neutralQuaternary: #d0d0d0;
$ouif-neutralQuaternaryAlt: #dadada;
$ouif-neutralLight: #eaeaea;
$ouif-neutralLighter: #f4f4f4;
$ouif-neutralLighterAlt: #f8f8f8;
$ouif-accent: #4b4b4b;
$ouif-white: #ffffff;
$ouif-whiteTranslucent40: rgba(255, 255, 255, 0.40);
$ouif-yellowDark: #d29200;
$ouif-yellow: #ffb900;
$ouif-yellowLight: #fff100;
$ouif-orange: #d83b01;
$ouif-orangeLight: #ea4300;
$ouif-orangeLighter: #ff8c00;
$ouif-redDark: #a80000;
$ouif-red: #e81123;
$ouif-magentaDark: #5c005c;
$ouif-magenta: #b4009e;
$ouif-magentaLight: #e3008c;
$ouif-purpleDark: #32145a;
$ouif-purple: #5c2d91;
$ouif-purpleLight: #b4a0ff;
$ouif-blueDark: #002050;
$ouif-blueMid: #00188f;
$ouif-blue: #0078d4;
$ouif-blueLight: #00bcf2;
$ouif-tealDark: #004b50;
$ouif-teal: #008272;
$ouif-tealLight: #00b294;
$ouif-greenDark: #004b1c;
$ouif-green: #107c10;
$ouif-greenLight: #bad80a;
$ouif-HyperlinkActive: #292929;
$ouif-CommandLinksPressed: #292929;
$ouif-NavigationPressed: #292929;
$ouif-EmphasisHoverBorder: #292929;
$ouif-TopBarPressedText: #292929;
$ouif-HeaderNavigationPressedText: #292929;
$ouif-Hyperlinkfollowed: #292929;
$ouif-EmphasisHoverBackground: #383838;
$ouif-EmphasisBorder: #383838;
$ouif-AccentText: #4b4b4b;
$ouif-CommandLinksHover: #4b4b4b;
$ouif-RowAccent: #4b4b4b;
$ouif-NavigationAccent: #4b4b4b;
$ouif-NavigationHover: #4b4b4b;
$ouif-EmphasisBackground: #4b4b4b;
$ouif-HeaderNavigationHoverText: #4b4b4b;
$ouif-HeaderNavigationSelectedText: #4b4b4b;
$ouif-SuiteBarBackground: #4b4b4b;
$ouif-Hyperlink: #4b4b4b;
$ouif-ContentAccent1: #4b4b4b;
$ouif-AccentLines: #606060;
$ouif-HeaderAccentLines: #606060;
$ouif-ButtonPressedBorder: #606060;
$ouif-SuiteBarHoverBackground: #929292;
$ouif-StrongLines: #c9c9c9;
$ouif-HeaderStrongLines: #c9c9c9;
$ouif-SuiteBarHoverText: #c9c9c9;
$ouif-ButtonPressedBackground: #c9c9c9;
$ouif-ButtonHoverBorder: #c9c9c9;
$ouif-ButtonHoverBackground: #e2e2e2;
$ouif-SelectionBackground: rgba(201, 201, 201, 0.50);
$ouif-HoverBackground: rgba(226, 226, 226, 0.50);
$ouif-NavigationHoverBackground: rgba(226, 226, 226, 0.50);
$ouif-PageBackground: #ffffff;
$ouif-EmphasisText: #ffffff;
$ouif-SuiteBarText: #ffffff;
$ouif-TileText: #ffffff;
$ouif-BackgroundOverlay: rgba(255, 255, 255, 0.85);
$ouif-HeaderBackground: rgba(255, 255, 255, 0.85);
$ouif-FooterBackground: rgba(255, 255, 255, 0.85);
$ouif-DisabledBackground: #f8f8f8;
$ouif-HeaderDisabledBackground: #f8f8f8;
$ouif-ButtonBackground: #f8f8f8;
$ouif-ButtonDisabledBackground: #f8f8f8;
$ouif-SubtleEmphasisBackground: #f4f4f4;
$ouif-DialogBorder: #f4f4f4;
$ouif-NavigationSelectedBackground: rgba(234, 234, 234, 0.78);
$ouif-TopBarBackground: rgba(234, 234, 234, 0.78);
$ouif-DisabledLines: #eaeaea;
$ouif-HeaderDisabledLines: #eaeaea;
$ouif-ButtonDisabledBorder: #eaeaea;
$ouif-SuiteBarDisabledText: #eaeaea;
$ouif-SubtleLines: #c8c8c8;
$ouif-HeaderSubtleLines: #c8c8c8;
$ouif-ButtonGlyphDisabled: #c8c8c8;
$ouif-DisabledText: #c2c2c2;
$ouif-CommandLinksDisabled: #c2c2c2;
$ouif-HeaderDisableText: #c2c2c2;
$ouif-ButtonDisabledText: #c2c2c2;
$ouif-Lines: #c2c2c2;
$ouif-HeaderLines: #c2c2c2;
$ouif-ButtonBorder: #c2c2c2;
$ouif-CommandLinks: #858585;
$ouif-Navigation: #858585;
$ouif-SubtleEmphasisText: #858585;
$ouif-TopBarText: #858585;
$ouif-HeaderNavigationText: #858585;
$ouif-ButtonGlyph: #858585;
$ouif-BodyText: #333333;
$ouif-WebPartHeading: #333333;
$ouif-HeaderText: #333333;
$ouif-ButtonText: #333333;
$ouif-ButtonGlyphActive: #333333;
$ouif-TopBarHoverText: #333333;
$ouif-StrongBodyText: #272727;
$ouif-SiteTitle: #272727;
$ouif-CommandLinksSecondary: #272727;
$ouif-SubtleEmphasisCommandLinks: #272727;
$ouif-HeaderSiteTitle: #272727;
$ouif-TileBackgroundOverlay: rgba(0, 0, 0, 0.50);
$ouif-backgroundOverlay: rgba(255, 255, 255, 0.85);
$ouif-themeAccent: #4b4b4b;
$ouif-themeAccentTranslucent10: rgba(75, 75, 75, 0.10);
$ouif-primaryBackground: #ffffff;
$ouif-primaryText: #333333;
$ouif-suiteBarBackground: #4b4b4b;
$ouif-suiteBarText: #ffffff;
$ouif-suiteBarDisabledText: #eaeaea;
$ouif-topBarBackground: rgba(234, 234, 234, 0.78);
$ouif-topBarText: #858585;
$ouif-topBarHoverText: #333333;
$ouif-dialogBorder: #f4f4f4;
$ouif-SubtleBodyText: #767676;
$ouif-HeaderSubtleText: #767676;
$ouif-ContentAccent2: #00485b;
$ouif-ContentAccent3: #288054;
$ouif-ContentAccent4: #767956;
$ouif-ContentAccent5: #ed0033;
$ouif-ContentAccent6: #682a7a;
$ouif-bodyBackground: #ffffff;
$ouif-bodyBackgroundHovered: #f4f4f4;
$ouif-bodyBackgroundChecked: #eaeaea;
$ouif-bodyStandoutBackground: #f8f8f8;
$ouif-bodyFrameBackground: #ffffff;
$ouif-bodyFrameDivider: #eaeaea;
$ouif-bodyText: #333333;
$ouif-bodyTextChecked: #000000;
$ouif-bodySubtext: #666666;
$ouif-bodyDivider: #eaeaea;
$ouif-disabledBodyText: #a6a6a6;
$ouif-disabledBodySubtext: #c8c8c8;
$ouif-disabledBorder: #c8c8c8;
$ouif-focusBorder: #666666;
$ouif-variantBorder: #eaeaea;
$ouif-variantBorderHovered: #a6a6a6;
$ouif-defaultStateBackground: #f8f8f8;
$ouif-actionLink: #333333;
$ouif-actionLinkHovered: #212121;
$ouif-link: #4b4b4b;
$ouif-linkHovered: #292929;
$ouif-buttonBackground: #f4f4f4;
$ouif-buttonBackgroundChecked: #c8c8c8;
$ouif-buttonBackgroundHovered: #eaeaea;
$ouif-buttonBackgroundCheckedHovered: #eaeaea;
$ouif-buttonBackgroundPressed: #eaeaea;
$ouif-buttonBackgroundDisabled: #f4f4f4;
$ouif-buttonBorder: transparent;
$ouif-buttonText: #333333;
$ouif-buttonTextHovered: #212121;
$ouif-buttonTextChecked: #212121;
$ouif-buttonTextCheckedHovered: #000000;
$ouif-buttonTextPressed: #212121;
$ouif-buttonTextDisabled: #a6a6a6;
$ouif-buttonBorderDisabled: transparent;
$ouif-primaryButtonBackground: #4b4b4b;
$ouif-primaryButtonBackgroundHovered: #434343;
$ouif-primaryButtonBackgroundPressed: #383838;
$ouif-primaryButtonBackgroundDisabled: #f4f4f4;
$ouif-primaryButtonBorder: transparent;
$ouif-primaryButtonText: #ffffff;
$ouif-primaryButtonTextHovered: #ffffff;
$ouif-primaryButtonTextPressed: #ffffff;
$ouif-primaryButtonTextDisabled: #d0d0d0;
$ouif-accentButtonBackground: #4b4b4b;
$ouif-accentButtonText: #ffffff;
$ouif-inputBorder: #a6a6a6;
$ouif-inputBorderHovered: #333333;
$ouif-inputBackground: #ffffff;
$ouif-inputBackgroundChecked: #4b4b4b;
$ouif-inputBackgroundCheckedHovered: #434343;
$ouif-inputPlaceholderBackgroundChecked: #e2e2e2;
$ouif-inputForegroundChecked: #ffffff;
$ouif-inputIcon: #4b4b4b;
$ouif-inputIconHovered: #383838;
$ouif-inputIconDisabled: #a6a6a6;
$ouif-inputFocusBorderAlt: #4b4b4b;
$ouif-smallInputBorder: #666666;
$ouif-inputText: #333333;
$ouif-inputTextHovered: #212121;
$ouif-inputPlaceholderText: #666666;
$ouif-disabledBackground: #f4f4f4;
$ouif-disabledText: #a6a6a6;
$ouif-disabledSubtext: #d0d0d0;
$ouif-listBackground: #ffffff;
$ouif-listText: #333333;
$ouif-listItemBackgroundHovered: #f4f4f4;
$ouif-listItemBackgroundChecked: #eaeaea;
$ouif-listItemBackgroundCheckedHovered: #dadada;
$ouif-listHeaderBackgroundHovered: #f4f4f4;
$ouif-listHeaderBackgroundPressed: #eaeaea;
$ouif-menuBackground: #ffffff;
$ouif-menuDivider: #c8c8c8;
$ouif-menuIcon: #4b4b4b;
$ouif-menuHeader: #4b4b4b;
$ouif-menuItemBackgroundHovered: #f4f4f4;
$ouif-menuItemBackgroundPressed: #eaeaea;
$ouif-menuItemText: #333333;
$ouif-menuItemTextHovered: #212121;
$ouif-errorText: #a80000;
$ouif-warningText: #333333;
$ouif-successText: #107C10;
$ouif-errorBackground: rgba(232, 17, 35, .2);
$ouif-blockingBackground: rgba(234, 67, 0, .2);
$ouif-warningBackground: rgba(255, 185, 0, .2);
$ouif-warningHighlight: #ffb900;
$ouif-successBackground: rgba(186, 216, 10, .2);
$ouif-listTextColor: #333333;
$ouif-menuItemBackgroundChecked: #eaeaea;
$ouif-elevation4: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);
$ouif-elevation8: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132), 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108);
$ouif-elevation16: 0 6.4px 14.4px 0 rgba(0, 0, 0, 0.132), 0 1.2px 3.6px 0 rgba(0, 0, 0, 0.108);
$ouif-elevation64: 0 25.6px 57.6px 0 rgba(0, 0, 0, 0.22), 0 4.8px 14.4px 0 rgba(0, 0, 0, 0.18);
$ouif-roundedCorner2: 2px;
$ouif-tinyFontFamily: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
$ouif-tinyMozOsxFontSmoothing: grayscale;
$ouif-tinyWebkitFontSmoothing: antialiased;
$ouif-tinyFontSize: 10px;
$ouif-tinyFontWeight: 600;
$ouif-xSmallFontFamily: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
$ouif-xSmallMozOsxFontSmoothing: grayscale;
$ouif-xSmallWebkitFontSmoothing: antialiased;
$ouif-xSmallFontSize: 11px;
$ouif-xSmallFontWeight: 400;
$ouif-smallFontFamily: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
$ouif-smallMozOsxFontSmoothing: grayscale;
$ouif-smallWebkitFontSmoothing: antialiased;
$ouif-smallFontSize: 12px;
$ouif-smallFontWeight: 400;
$ouif-smallPlusFontFamily: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
$ouif-smallPlusMozOsxFontSmoothing: grayscale;
$ouif-smallPlusWebkitFontSmoothing: antialiased;
$ouif-smallPlusFontSize: 13px;
$ouif-smallPlusFontWeight: 400;
$ouif-mediumFontFamily: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
$ouif-mediumMozOsxFontSmoothing: grayscale;
$ouif-mediumWebkitFontSmoothing: antialiased;
$ouif-mediumFontSize: 14px;
$ouif-mediumFontWeight: 400;
$ouif-mediumPlusFontFamily: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
$ouif-mediumPlusMozOsxFontSmoothing: grayscale;
$ouif-mediumPlusWebkitFontSmoothing: antialiased;
$ouif-mediumPlusFontSize: 15px;
$ouif-mediumPlusFontWeight: 400;
$ouif-largeFontFamily: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
$ouif-largeMozOsxFontSmoothing: grayscale;
$ouif-largeWebkitFontSmoothing: antialiased;
$ouif-largeFontSize: 17px;
$ouif-largeFontWeight: 300;
$ouif-xLargeFontFamily: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
$ouif-xLargeMozOsxFontSmoothing: grayscale;
$ouif-xLargeWebkitFontSmoothing: antialiased;
$ouif-xLargeFontSize: 21px;
$ouif-xLargeFontWeight: 100;
$ouif-xLargePlusFontFamily: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
$ouif-xLargePlusMozOsxFontSmoothing: grayscale;
$ouif-xLargePlusWebkitFontSmoothing: antialiased;
$ouif-xLargePlusFontSize: 21px;
$ouif-xLargePlusFontWeight: 100;
$ouif-xxLargeFontFamily: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
$ouif-xxLargeMozOsxFontSmoothing: grayscale;
$ouif-xxLargeWebkitFontSmoothing: antialiased;
$ouif-xxLargeFontSize: 28px;
$ouif-xxLargeFontWeight: 100;
$ouif-xxLargePlusFontFamily: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
$ouif-xxLargePlusMozOsxFontSmoothing: grayscale;
$ouif-xxLargePlusWebkitFontSmoothing: antialiased;
$ouif-xxLargePlusFontSize: 28px;
$ouif-xxLargePlusFontWeight: 100;
$ouif-superLargeFontFamily: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
$ouif-superLargeMozOsxFontSmoothing: grayscale;
$ouif-superLargeWebkitFontSmoothing: antialiased;
$ouif-superLargeFontSize: 42px;
$ouif-superLargeFontWeight: 100;
$ouif-megaFontFamily: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
$ouif-megaMozOsxFontSmoothing: grayscale;
$ouif-megaWebkitFontSmoothing: antialiased;
$ouif-megaFontSize: 72px;
$ouif-megaFontWeight: 100;