.o-tocs{
	overflow: hidden;

	box-sizing: border-box;
	max-height: 0;

	transition: max-height .25s ease-in-out 0,
	border-bottom 5s ease-in-out .125s;

	&inner{
		margin: 1em;
	}

	&.active{
		overflow: unset;

		height: auto;
		max-height: 100vh;

		transition: max-height .25s ease-in-out 0,
		border-bottom 5s ease-in-out .125s;

		border-bottom: 1px $c-black solid;
	}
}