.m-filters{
	padding: $base-padding;

	&:hover{
		.a-filter{
			&:hover{
				@include bg-fill();

				// background-color: magenta;
				background-size: 100% 40px;
			}

			&.selected{
				background-color: transparent;

				&:hover{
					background-color: magenta;
					background-size: 100% 40px;
				}
			}
		}
	}
}