$slideOut: max-height 0.75s ease-in;
$slideIn: max-height 0.75s ease-in, border-color 0.125s ease-out 0.75s;

.o-tocsinner{
	display: flex;
	flex-direction: row;

	margin: 1em;

	flex-wrap: wrap;
	h2{
		display: block;

		margin-top: 0;
	}
	ul{
		margin: 0;
		padding: 0;
		padding-bottom: 1em;

		list-style: none;

		flex-basis: 100%;
		ol{
			padding-left: 1rem;

			list-style: none;

			columns: 2;
			li{
				padding: 0;
			}
		}
	}
}

.o-tocs{
	position: absolute;
	z-index: 10;

	overflow: hidden;

	box-sizing: border-box;
	width: 100%;
	max-height: 0;
	margin-top: -1px;

	transition: $slideOut;

	background-color: white;

	border-bottom: 1px $c-black solid;
	border-color: transparent;

	.o-tocsinner{
		max-height: 0;

		transition: $slideOut;
	}

	&.active{
		height: auto;
		// min-height: 50vh;
		max-height: 100vh;

		transition: $slideIn;

		border-color: $c-black;

		.o-tocsinner{
			display: block;
			overflow: normal;

			max-height: 100%;

			transition: $slideOut;
		}
	}
}
