.a-filter{
	font-weight: bold;

	height: 23PX;

	text-transform: uppercase;

	border: 2px $c-black solid;
	border-radius: 0;
	background-color: $c-white;

	&.selected,
	&:active{
		color: $c-black;
		background-color: $c-yellow;
    }
    &:hover{
        cursor: pointer;
    }
}