.a-filtername{
	font-size: .8em;
	line-height: 1.4em;

	display: inline-block;

	min-width: 100px;
	min-height: 1em;

	content: " ";
	text-align: center;

    color: black;
    font-weight: bold;
	border: 2px blacK solid;
	border-right: none;
	border-left: none;
}