.a-filtername{
	display: inline-block;

	min-width: 100px;
	min-height: 1em;

	content: " ";
	text-align: center;

	border: 2px blacK solid;
	border-right: none;
    border-left: none;
    color: teal;
}