.a-filter {
    background-color: $c-white;
    border: 2px $c-black solid;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: bold;
    height: 23PX;

    &.selected,
    &:active {
        background-color: $c-yellow;
        color: $c-black;
    }
}